<% provide(:title, "Edit Post") %>

<div class="content-wrap" id="login">
  <div id="feedback" class="inner-content">
    <section id="page-title" class="inner-section">
      <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
        <h2 class="font-accident-two-normal uppercase">Edit Blog Post</h2>
        <h5 class="font-accident-one-bold uppercase subtitle">Enter updated post text!</h5>
      </div>
    </section>
    <!-- Feedback Block -->
    <section class="inner-section feedback feedback-light">
      <div class="container-fluid nopadding">
        <div class="row">
          <div class="col-md-2">&nbsp;</div>
          <div class="col-md-8 e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
            <div class="dividewhite2"></div>
            <div id="form-messages"></div>
            <%= render "form", blog_post: @blog_post, button_text: "Update Post" %>
          </div>
          <div class="col-md-2">&nbsp;</div>
          <div class="col-md-12 divider-dynamic"></div>
        </div>
      </div>
      <div class="dividewhite6"></div>
    </section>
    <!-- /Feedback Block -->
  </div>
</div>

