<% provide(:title, @page_title_details) %>

<div id="content">
  <div id="blog" class="e-block e-block-skin">
    <div class="container">
      <div class="down-arrow">&nbsp;</div>
      <div class="dividewhite6"></div>

      <article class="post">
        <% if @blog_posts.any? %>
          <%= render "blog_posts", blog_posts: @blog_posts %>
        <% else %>
          <h3 class="post-title text-center">Under Construction! Check back later.</h3>
        <% end %>
      </article>
    </div>
  </div>
</div>


