<% provide(:title, @page_title_details) %>

<div id="content">
<!--   <div class="e-block e-block-skin e-block-centered pb-20">
    <div class="container"> -->
      <!-- Decorative arrow -->
      <!-- <div class="down-arrow">&nbsp;</div>
    </div> -->
  <!-- </div> -->

  <div class="row">
    <div class="col-md-12">
      <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
        <div class="row">
          <div class="width-60 e-block-centered">
            <h3 class="uppercase">Post Details</h3>
            <div class="dividewhite2"></div>

            <div class="contacts-form">
              <div>
                <%= render "form", blog_post: @blog_post, button_text: "Submit Post" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  flatpickr(".flatpickr", {
    enableTime: true
  });
</script>

