<% provide(:title, @page_title_details) %>

<div id="content">
  <div id="blog" class="e-block e-block-skin">
    <div class="container">
      <!-- Decorative arrow -->
      <div class="down-arrow">&nbsp;</div>
      <!-- /Decorative arrow -->

      <div class="dividewhite6"></div>

      <div id="primary" role="main">
          <article class="post">
            <!-- Blog post attributes #1 -->
            <h3 class="post-title"><%= link_to @blog_post.title, blog_post_path(@blog_post) %></h3>
            <div class="post-attrib">
              <!-- <div class="comment-baloon"><i class="fa fa-camera"></i></div> -->
              <div class="post-data">
                <div class="post-date"><%= @blog_post.published_on %></div>
              </div>
            </div>
            <!-- /Blog post attributes #1 -->
            <% if @blog_post.images.any? %>
              <!-- FlexSlider -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="flex-container">
                    <div class="flexslider">
                      <ul class="slides">
                        <% @blog_post.images.each do |image| %>
                          <li><img src="<%= image.url %>" alt="post-image" class="img-responsive"></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dividewhite2"></div>
              <!-- /FlexSlider -->
            <% end %>
            <div class="row">
              <div class="col-sm-12">
                <p><%= @blog_post.text %></p>
              </div>
            </div>
          </article>
      </div>
    </div>
  </div>
</div>
