<div id="content">

  <div id="blog" class="e-block e-block-skin">

    <div class="container">

      <!-- Decorative arrow -->
      <div class="down-arrow">&nbsp;</div>
      <!-- /Decorative arrow -->

      <div class="dividewhite6"></div>

      <div id="primary" role="main">

        <article class="post">
          <!-- Blokquote Post -->
          <!-- Blog post attributes #1 -->
          <div class="post-attrib">
            <div class="comment-baloon">75</div>
            <div class="post-data">
              <div class="post-date">2014 Jun, 14</div>
              <div class="post-author">by Alisia Silverstone in <a href="#">Stories</a>, <a href="#">Games</a></div>
            </div>
          </div>
          <!-- /Blog post attributes #1 -->
          <!-- Blokquote sample -->
          <blockquote>
            <p>
              Scopula erubescens is a moth of the Geometridae family. It is found in India (Khasia Hills). William Theophilus Dortch (August 23, 1824 – November 21, 1889) was a prominent North Carolina and Confederate States of America politician and lawyer. Dortch was born August 23, 1824 to William Dortch and his wife, Drusilla at his father's plantation, situated in Nash County.
            </p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
          <!-- /Blokquote sample -->
          <!-- /Blokquote Post -->
        </article>

        <article class="post">
          <!-- Standard Post -->
          <!-- Blog post attributes #2 -->
          <h3 class="post-title"><a href="blog-post.html">The simple Standard Post</a></h3>
          <div class="post-attrib">
            <div class="comment-baloon">75</div>
            <div class="post-data">
              <div class="post-date">2014 Jun, 14</div>
              <div class="post-author">by Alisia Silverstone in <a href="#">Stories</a>, <a href="#">Games</a></div>
            </div>
          </div>
          <!-- /Blog post attributes #2 -->

          <!-- Post Content -->
          <p>
            The system utilised prefabricated light gauge steel frames which could be built economically up to a maximum of 4 storeys. The frames were finished in a variety of claddings and their modular nature could be employed to produce architecturally satisfying buildings. Initially developed solely for schools, the system was also used to provide offices and housing. Important examples include many of the Hertfordshire schools, some of which have since been listed.
          </p>
          <p>
            Another notable use of CLASP is the University of York, designed by architect Andrew Derbyshire. A later development was known as SCOLA (Second Consortium of Local Authorities) and MACE (Metropolitan Architectural Consortium for Education). The cynics' definition of the CLASP acronym, circulating in the 1970s, was "collection of loosely assembled steel parts". Langwith College, University of York. A notable use of the CLASP system. Vanbrugh College, University of York.
          </p>
          <div class="dividewhite2"></div>
          <a role="button" href="blog-post.html" class="btn btn-default btn-lgr-str">Learn More</a>
          <!-- /Post Content -->
          <!-- /Standard Post -->
        </article>

        <article class="post">
          <!-- Image Post -->
          <h3 class="post-title"><a href="blog-post.html">The simple Image Post</a></h3>
          <!-- Blog post attributes #2 -->
          <div class="post-attrib">
            <div class="comment-baloon">75</div>
            <div class="post-data">
              <div class="post-date">2014 Jun, 14</div>
              <div class="post-author">by Alisia Silverstone in <a href="#">Stories</a>, <a href="#">Games</a></div>
            </div>
          </div>
          <!-- /Blog post attributes #2 -->
          <img src="/assets/custom/images/pic_01.jpg" class="img-responsive" alt="Responsive image">
          <div class="dividewhite2"></div>

          <!-- Post Content -->
          <p>
            The system utilised prefabricated light gauge steel frames which could be built economically up to a maximum of 4 storeys. The frames were finished in a variety of claddings and their modular nature could be employed to produce architecturally satisfying buildings. Initially developed solely for schools, the system was also used to provide offices and housing. Important examples include many of the Hertfordshire schools, some of which have since been listed.
          </p>

          <p>
            Another notable use of CLASP is the University of York, designed by architect Andrew Derbyshire. A later development was known as SCOLA (Second Consortium of Local Authorities) and MACE (Metropolitan Architectural Consortium for Education). The cynics' definition of the CLASP acronym, circulating in the 1970s, was "collection of loosely assembled steel parts". Langwith College, University of York. A notable use of the CLASP system. Vanbrugh College, University of York.
          </p>
          <!-- /Post Content -->
          <!-- /Image Post -->
        </article>

        <article class="post">
          <!-- Gallery Post -->
          <h3 class="post-title"><a href="blog-post.html">The simple Gallery Post</a></h3>
          <!-- Blog post attributes #2 -->
          <div class="post-attrib">
            <div class="comment-baloon">75</div>
            <div class="post-data">
              <div class="post-date">2014 Jun, 14</div>
              <div class="post-author">by Alisia Silverstone in <a href="#">Stories</a>, <a href="#">Games</a></div>
            </div>
          </div>
          <!-- /Blog post attributes #2 -->

          <!-- FlexSlider -->
          <div class="flexslider">
            <ul class="slides">
              <li><img src="/assets/custom/images/pic_03.jpg" alt="x"></li>
              <li><img src="/assets/custom/images/pic_01.jpg" alt="x"></li>
              <li><img src="/assets/custom/images/pic_03.jpg" alt="x"></li>
            </ul>
          </div>
          <div class="dividewhite2"></div>
          <!-- /FlexSlider -->

          <!-- Post Content -->
          <p>
            The system utilised prefabricated light gauge steel frames which could be built economically up to a maximum of 4 storeys. The frames were finished in a variety of claddings and their modular nature could be employed to produce architecturally satisfying buildings. Initially developed solely for schools, the system was also used to provide offices and housing. Important examples include many of the Hertfordshire schools, some of which have since been listed.
          </p>
          <p>
            Another notable use of CLASP is the University of York, designed by architect Andrew Derbyshire. A later development was known as SCOLA (Second Consortium of Local Authorities) and MACE (Metropolitan Architectural Consortium for Education). The cynics' definition of the CLASP acronym, circulating in the 1970s, was "collection of loosely assembled steel parts". Langwith College, University of York. A notable use of the CLASP system. Vanbrugh College, University of York.
          </p>
          <!-- /Post Content -->
          <!-- /Gallery Post -->
        </article>

        <article class="post">
          <!-- Standard Post #2 -->
          <div class="row">

            <div class="col-sm-3">

              <!-- Post Attributes -->
              <div class="post-attrib">
                <div class="comment-baloon">75</div>
                <div class="post-data2">
                  <div class="post-date">2014 Jun, 14</div>
                </div>
                <div class="post-author">by Alisia Silverstone in <a href="#">Stories</a>, <a href="#">Games</a></div>
              </div>
              <!-- Post Attributes -->

            </div>

            <div class="col-sm-9">

              <!-- Post Title -->
              <h3 class="post-title"><a href="blog-post.html">Another simple Standard Post</a></h3>
              <div class="dividewhite2"></div>
              <!-- /Post Title -->

              <!-- Post Content -->
              <p>
                The system utilised prefabricated light gauge steel frames which could be built economically up to a maximum of 4 storeys. The frames were finished in a variety of claddings and their modular nature could be employed to produce architecturally satisfying buildings. Initially developed solely for schools, the system was also used to provide offices and housing. Important examples include many of the Hertfordshire schools, some of which have since been listed.
              </p>
              <p>
                Another notable use of CLASP is the University of York, designed by architect Andrew Derbyshire. A later development was known as SCOLA (Second Consortium of Local Authorities) and MACE (Metropolitan Architectural Consortium for Education). The cynics' definition of the CLASP acronym, circulating in the 1970s, was "collection of loosely assembled steel parts". Langwith College, University of York. A notable use of the CLASP system. Vanbrugh College, University of York.
              </p>
              <div class="dividewhite2"></div>
              <!-- /Post Content -->

              <a role="button" href="blog-post.html" class="btn btn-default btn-lgr-str">Learn More</a>

            </div>

          </div>
          <!-- /Standard Post #2 -->
        </article>

        <article class="post">
          <!-- Chat Post Format -->
          <div class="row">
            <div class="col-sm-3">
              <div class="post-attrib">
                <div class="comment-baloon">75</div>
                <div class="post-data2">
                  <div class="post-date">2014 Jun, 14</div>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <h3 class="post-title"><a href="blog-post.html">Our Morning Chat</a></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="chat-companion">Nick</p>
            </div>
            <div class="col-sm-9">
              <p>
                The system utilised prefabricated light gauge steel frames which could be built economically up to a maximum of 4 storeys.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="chat-me">Rachel</p>
            </div>
            <div class="col-sm-9">
              <p>
                Yes!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="chat-companion">Nick</p>
            </div>
            <div class="col-sm-9">
              <p>
                The system utilised prefabricated light gauge steel frames which could be built economically up to a maximum of 4 storeys.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="chat-me">Rachel</p>
            </div>
            <div class="col-sm-9">
              <p>
                Shure!
              </p>
            </div>
          </div>
          <!-- /Chat Post Format -->
        </article>

        <article class="post">
          <!-- Link Post -->
          <div class="row">
            <div class="col-md-12">
              <!-- Post Title -->
              <h3 class="post-title"><a href="blog-post.html">The interesting link</a></h3>
              <!-- /Post Title -->

              <!-- Blog post attributes #2 -->
              <div class="post-attrib">
                <div class="comment-baloon">75</div>
                <div class="post-data">
                  <div class="post-date">2014 Jun, 14</div>
                  <div class="post-author">by Alisia Silverstone in <a href="#">Stories</a>, <a href="#">Games</a></div>
                </div>
              </div>
              <!-- /Blog post attributes #2 -->

              <div class="link-bg"><a href="#">http://neuethemes.net</a></div>
              <div class="dividewhite2"></div>

              <!-- Post Content -->
              <p>
                The system utilised prefabricated light gauge steel frames which could be built economically up to a maximum of 4 storeys. The frames were finished in a variety of claddings and their modular nature could be employed to produce architecturally satisfying buildings. Initially developed solely for schools, the system was also used to provide offices and housing. Important examples include many of the Hertfordshire schools, some of which have since been listed.
              </p>
              <!-- Post Content -->
            </div>
          </div>
          <!-- /Link Post -->
        </article>

      </div>

    </div>

  </div>

</div>