<div class="content-wrap" id="portfolio-page">
   <div id="portfolio" class="inner-content">
      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">Portfolio</h2>
            <h5 class="font-accident-one-bold uppercase subtitle">Some examples of my work...</h5>
            <p class="small fontcolor-medium">
               I'm new to web development but I've had the opportunity to work on a few client projects and the capstone project for my coding bootcamp. Feel free to check them out!
            </p>
         </div>
      </section>

      <!-- Counts Block -->
      <section id="counts-light-bg" class="counts inner-section bg-color02 wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
         <div class="container-fluid nopadding">
            <div class="count-container row">
               <div class="col-lg-4 col-sm-4 col-xs-12 count">
                  <div>
                     <div class="count-icon">
                        <i class="flaticon-book-bag2"></i>
                     </div>
                     <span class=".integers digit font-accident-two-normal">2</span>
                     <div class="count-text font-accident-one-bold">Client Work</div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-4 col-xs-12 count">
                  <div>
                     <div class="count-icon">
                        <i class="flaticon-graduation9"></i>
                     </div>
                     <span class=".integers digit font-accident-two-normal">1</span>
                     <div class="count-text font-accident-one-bold">Class/Capstone Projects</div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-4 col-xs-12 count">
                  <div>
                     <div class="count-icon">
                        <i class="flaticon-painting62"></i>
                     </div>
                     <span class=".integers digit font-accident-two-normal">0</span>
                     <div class="count-text font-accident-one-bold">Personal Projects</div>
                  </div>
               </div>
            </div>
            <div class="dividewhite2"></div>
         </div>
      </section>
      <!-- /Counts Block -->

      <!-- Portfolio Block -->
      <section id="portfolio-block" class="inner-section wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">

         <div class="dividewhite6"></div>

         <div id="isotope-filters" class="port-filter port-filter-light text-center">
            <ul>
               <li><a href="#cat1" data-filter="*">All</a></li>
               <li><a href="#cat2" data-filter=".rails">Ruby on Rails</a></li>
               <li><a href="#cat3" data-filter=".angular">Angular</a></li>
               <li><a href="#cat4" data-filter=".client">Client Work</a></li>
               <li><a href="#cat5" data-filter=".capstone">Capstone</a></li>
               <li><a href="#cat6" data-filter=".personal">Personal</a></li>
            </ul>
         </div>

         <div class="dividewhite3"></div>

         <div class="grid container-fluid text-center">

            <div id="posts" class="row ">

               <div class="grid-item grid-sizer client rails angular col-lg-6 col-md-6 col-sm-6">
                  <div class="item-wrap">
                     <figure class="effect-goliath">
                        <div class="popup-call">
                           <a href="assets/network_app_screencap_1.png" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                        </div>
                        <%= image_tag "network_app_screencap_1.png", class: "img-responsive" %>
                        <figcaption>
                           <div class="fig-description">
                              <h3>ACLTC <span>Network App</span></h3>
                              <p>#client work #ruby on rails #angular</p>
                           </div>
                        </figcaption>
                     </figure>
                  </div>
               </div>
               <div class="grid-item grid-sizer client rails angular col-lg-6 col-md-6 col-sm-6">
                  <div class="item-wrap">
                     <figure class="effect-goliath">
                        <div class="popup-call">
                           <a href="assets/jab_user_show.png" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                        </div>
                        <%= image_tag "jab_user_show.png", class: "img-responsive" %>
                        <figcaption>
                           <div class="fig-description">
                              <h3>JUST-a-BREAK</h3>
                              <p>#client work #ruby on rails #angular</p>
                           </div>
                        </figcaption>
                     </figure>
                  </div>
               </div>
               <div class="grid-item grid-sizer capstone rails angular col-lg-6 col-md-6 col-sm-6">
                  <div class="item-wrap">
                     <figure class="effect-goliath">
                        <div class="popup-call">
                           <a href="assets/seat_scoop_screencap_1.png" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                        </div>
                        <%= image_tag "seat_scoop_screencap_1.png", class: "img-responsive" %>
                        <figcaption>
                           <div class="fig-description">
                              <h3>Seat Scoop</h3>
                              <p>#capstone #ruby on rails #angular</p>
                           </div>
                        </figcaption>
                     </figure>
                  </div>
               </div>
            </div>
         </div>

         <div class="dividewhite8"></div>

      </section>
      <!-- /Portfolio Block -->

   </div>

</div>