<!-- Container -->
<div class="content-wrap">
   <div id="resume" class="inner-content">
      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">Resume</h2>
            <h5 class="font-accident-one-bold uppercase subtitle">Hard-working person on the way to the success...</h5>
            <p class="small fontcolor-medium">
               Once I decided I wanted to learn to code, I enrolled in a web development bootcamp and am so glad I did! I committed to long hours of coding classes on weeknights and weekends and truly enjoyed every second. Now, a few months after graduating and working on a couple of client projects, I'm excited to continue learning and land a full time role as a web developer. 
            </p>
            <div class="dividewhite2"></div>
            <a target="_blank" href="https://s3.amazonaws.com/diana-camacho-resumes/diana_camacho_dev_resume_august_2016.pdf" class="btn btn-lg btn-darker">View Resume (PDF)</a> 
         </div>
      </section>

      <!-- Details Block -->
      <div class="row">
        <div class="col-md-6">
          <section id="m-details" class="inner-section bg-color02 resume-skills">
          <div class="container-fluid nopadding">
            <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
              <h3 class="font-accident-two-normal uppercase text-center">Skills</h3>
              <div class="dividewhite4"></div>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Ruby</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Rails</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">HTML</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">CSS</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">JavaScript</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">AngularJS</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">JQuery</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Postgres</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">MySQL</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Git</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">RSpec</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Photoshop</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Agile</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <section id="m-details" class="inner-section bg-color02 resume-skills">
          <div class="container-fluid nopadding">
            <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
              <h3 class="font-accident-two-normal uppercase text-center">Education</h3>
              <div class="dividewhite4"></div>
            </div>

            <div class="row">
              <div class="col-md-12 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-graduation9"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Actualize Coding Bootcamp</h5>
                    <p class="small">
                      Graduation: March 2016
                    </p>
                    <p class="small"> 
                      Actualize is a 15 week web development bootcamp where I learned the fundamentals of Ruby on Rails, HTML, CSS, JavaScript, AngularJS, SQL, Git.
                    </p>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-12 infoblock text-center wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-graduation9"></i></div>
                     <div class="col-md-12">
                      <div class="dividewhite1"></div>
                      <h5 class="font-accident-one-bold uppercase">George Washington University</h5>
                      <p class="small">
                        Graduation: May 2015
                      </p>
                      <p class="small">
                        I received a Master of Forensic Sciences with a concentration in forensic chemistry.
                      </p>
                    </div>
                  </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-12 infoblock text-center wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-graduation9"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Northwestern University</h5>
                    <p class="small">
                      Graduation: June 2013
                    </p>
                    <p class="small">
                      I recieved a BA in Chemistry with a concentration in materials/nanotechnology.
                    </p>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
            </div>
            <div class="dividewhite2"></div>
          </div>
        </section>
        <!-- /§Details Block -->
      </div>
    </div>
    <!-- Timeline Block -->
    <section id="timeline-vertical" class="inner-section">
      <div class="container-fluid nopadding">
        <div class="text-center wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
           <div class="dividewhite4"></div>
           <h3 class="font-accident-two-normal uppercase">Dev Experience Timeline</h3>
           <h5 class="font-accident-one-bold uppercase subtitle">The road to knowledge and success</h5>
           <div class="dividewhite1"></div>
           <p class="small fontcolor-medium">
              I’m looking forward to an opportunity to join a dev team where I can learn from senior developers and continue my growth as a web developer!
           </p>
        </div>

        <div class="dividewhite4"></div>

        <ul class="timeline-vert timeline-light">
           <li class="timeline-inverted">
              <div class="timeline-badge success"><i class="flaticon-circle-1"></i></div>
              <div class="timeline-panel wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10">
                 <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> June 2016 - Present</p>
                 <div class="timeline-photo timeline-bg02-01"></div>
                 <div class="timeline-heading">
                    <h4 class="font-accident-two-normal uppercase">The Difference Engine</h4>
                    <h6 class="uppercase">Web Developer</h6>
                    <p>I do contract dev work for ACLTC/The Difference Engine, currently developing a networking Rails app to help employers and Actualize bootcamp alumni connect for hiring opportunities.
                 </div>
              </div>
           </li>
           <li>
              <div class="timeline-badge primary"><i class="flaticon-circle-1"></i></div>
              <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="10">
                 <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> June 2016 - Sept 2016</p>
                 <div class="timeline-photo timeline-bg01-01"></div>
                 <div class="timeline-heading">
                    <h4 class="font-accident-two-normal uppercase">Actualize Coding Bootcamp</h4>
                    <h6 class="uppercase">Teaching Assistant</h6>
                    <p>I helped students troubleshoot their code and develop their programming skills as they learned new concepts and built apps incorporating these skills. I also helped the lead instructor grade assignments and held office hours for students needing extra help.
                 </div>
              </div>
           </li>
           <li>
              <div class="timeline-badge danger"><i class="flaticon-circle-1"></i></div>
              <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="10">
                 <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> Apr 2016 - June 2016</p>
                 <div class="timeline-photo timeline-bg03-01"></div>
                 <div class="timeline-heading">
                    <h4 class="font-accident-two-normal uppercase">The Difference Engine</h4>
                    <h6 class="uppercase">Developer Apprentice</h6>
                    <p>I helped develop a Rails app for a non-profit that allows the organization to more efficiently manage its team of volunteers and the donations they receive. </p>
                 </div>
              </div>
           </li>
        </ul>
        <div class="dividewhite6"></div>
      </div>
    </section>
    <!-- /Timeline Block -->
   </div>
</div>