<% provide(:title, @page_title_details) %>

<div id="content">
  <div id="portfolio" class="e-block e-block-skin e-block-centered">
    <!-- Decorative arrow -->
    <div class="down-arrow">&nbsp;</div>
    <!-- /Decorative arrow -->
    <div class="dividewhite2"></div>
    
    <% if @projects.count > 20 %>
      <div class="container">
        <div id="isotope-filters" class="port-filter block-centered">
          <ul>
            <li><a href="#cat1" data-filter="*">All</a></li>
            <li><a href="#cat2" data-filter=".web">Web Design</a></li>
            <li><a href="#cat3" data-filter=".marketing">Online Marketing</a></li>
            <li><a href="#cat4" data-filter=".seo">SEO</a></li>
          </ul>
        </div>
        <div class="dividewhite4"></div>
      </div>

      <div class="container isotope-container">
        <div id="posts" class="row">
          <div id="1" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/01.jpg" alt="img11"/>
                <figcaption>
                  <h3>Music <span>Sounds</span></h3>
                  <p>Mitrastigma was a monotypic genus of flowering plants in the </p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="2" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/02.jpg" alt="img03"/>
                <figcaption>
                  <h3>Fire <span>Burns</span></h3>
                  <p>Red Rosa may refer to: Inga bella is a species of legume</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div id="3" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/03.jpg" alt="img11"/>
                <figcaption>
                  <h3>Ice <span>Cold</span></h3>
                  <p>Ciani's career begun when he won second prize at the Liszt-Bartók</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="4" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/04.jpg" alt="img03"/>
                <figcaption>
                  <h3>Everybody <span>Lies</span></h3>
                  <p>His repertoire was broad and diverse for a pianist of his age</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="5" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/05.jpg" alt="img11"/>
                <figcaption>
                  <h3>More <span>Words</span></h3>
                  <p>He collaborated with such conductors as Claudio Abbado</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="6" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/06.jpg" alt="img03"/>
                <figcaption>
                  <h3>Birds <span>Flying</span></h3>
                  <p>Ciani was killed in a road accident in Rome at the age of 32</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="7" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/07.jpg" alt="img11"/>
                <figcaption>
                  <h3>What's <span>Going?</span></h3>
                  <p>The Dino Ciani Piano Competition was created in his memory.</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/08.jpg" alt="img03"/>
                <figcaption>
                  <h3>Gun is <span>Shutting</span></h3>
                  <p> His recordings for Deutsche Grammophon of the complete</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/09.jpg" alt="img03"/>
                <figcaption>
                  <h3>Car is <span>Riding</span></h3>
                  <p>Among his last concerts were renditions of the complete set</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item seo col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/10.jpg" alt="img11"/>
                <figcaption>
                  <h3>Matthew Kirk <span>Weibring</span></h3>
                  <p>is an American professional golfer. He is the son of D. A. Weibring.</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/11.jpg" alt="img11"/>
                <figcaption>
                  <h3>Dave <span>McKinney</span></h3>
                  <p>We had a machine each, like a bike, sorta like a Sulo </p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/12.jpg" alt="img11"/>
                <figcaption>
                  <h3>The Roman <span>Empire</span></h3>
                  <p>retreated from Britain, various kingdoms sprouted up to the south of Scotland.</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="1" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/13.jpg" alt="img11"/>
                <figcaption>
                  <h3>Music <span>Sounds</span></h3>
                  <p>Mitrastigma was a monotypic genus of flowering plants in the </p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="2" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/14.jpg" alt="img03"/>
                <figcaption>
                  <h3>Fire <span>Burns</span></h3>
                  <p>Red Rosa may refer to: Inga bella is a species of legume</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="3" class="item seo col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/15.jpg" alt="img11"/>
                <figcaption>
                  <h3>Ice <span>Cold</span></h3>
                  <p>Ciani's career begun when he won second prize at the Liszt-Bartók</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="4" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/16.jpg" alt="img03"/>
                <figcaption>
                  <h3>Everybody <span>Lies</span></h3>
                  <p>His repertoire was broad and diverse for a pianist of his age</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="5" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/17.jpg" alt="img11"/>
                <figcaption>
                  <h3>More <span>Words</span></h3>
                  <p>He collaborated with such conductors as Claudio Abbado</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="6" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/18.jpg" alt="img03"/>
                <figcaption>
                  <h3>Birds <span>Flying</span></h3>
                  <p>Ciani was killed in a road accident in Rome at the age of 32</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="7" class="item web col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/19.jpg" alt="img11"/>
                <figcaption>
                  <h3>What's <span>Going?</span></h3>
                  <p>The Dino Ciani Piano Competition was created in his memory.</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item seo col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/20.jpg" alt="img03"/>
                <figcaption>
                  <h3>Gun is <span>Shutting</span></h3>
                  <p> His recordings for Deutsche Grammophon of the complete</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/21.jpg" alt="img03"/>
                <figcaption>
                  <h3>Car is <span>Riding</span></h3>
                  <p>Among his last concerts were renditions of the complete set</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item seo col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/22.jpg" alt="img11"/>
                <figcaption>
                  <h3>Matthew Kirk <span>Weibring</span></h3>
                  <p>is an American professional golfer. He is the son of D. A. Weibring.</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/23.jpg" alt="img11"/>
                <figcaption>
                  <h3>Dave <span>McKinney</span></h3>
                  <p>We had a machine each, like a bike, sorta like a Sulo </p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>

          <div id="8" class="item marketing col-md-4">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <img src="/assets/custom/images/magazine/24.jpg" alt="img11"/>
                <figcaption>
                  <h3>The Roman <span>Empire</span></h3>
                  <p>retreated from Britain, various kingdoms sprouted up to the south of Scotland.</p>
                  <a href="portfolio-item.html">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <article class="post">
        <!-- Blog post attributes #1 -->
        <h3 class="post-title text-center">Under Construction! Check back later.</h3>
      </article>
    <% end %>
  </div>
  <div class="dividewhite10"></div>
</div>