<% provide(:title, @page_title_details) %>

<div id="content">
  <div id="portfolio" class="e-block e-block-skin e-block-centered">
    <div class="down-arrow">&nbsp;</div>
    <div class="dividewhite2"></div>

    <% if @projects.any? %>
  <!--     <div class="container">
        <div id="isotope-filters" class="port-filter block-centered">
          <ul>
            <li><a href="#cat1" data-filter="*">All</a></li>
            <li><a href="#cat2" data-filter=".web">Web Design</a></li>
            <li><a href="#cat3" data-filter=".marketing">Online Marketing</a></li>
            <li><a href="#cat4" data-filter=".seo">SEO</a></li>
          </ul>
        </div>
        <div class="dividewhite4"></div>
      </div> -->

      <div class="container isotope-container">
        <div id="posts" class="row">
          <% @projects.each do |project| %>
            <div class="item web col-md-4">
              <div class="item-wrap">
                <figure class="effect-goliath">
                  <img src="/assets/custom/images/magazine/01.jpg" alt="project-image"/>
                  <figcaption>
                    <h3><span><%= project.name %></span></h3>
                    <!-- <p>insert short project description</p> -->
                    <a href="/projects/<%= project.id %>">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <article class="post">
        <h3 class="post-title text-center">Under Construction! Check back later.</h3>
      </article>
    <% end %>
    <div class="dividewhite10"></div>
  </div>
</div>