/********** Formatting **********/ 

.lowercase {
  text-transform: lowercase !important;
}

.ptb-20 {
  padding: 20px 0 !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

/********** End Formatting **********/ 

/********** Background Images **********/ 

.e-bg-section05::before {
  background: image-url("section_pics/roman_forum.JPG") no-repeat center center;
}

/********** End Background Images **********/ 

// .flexslider {
//   .slides {
//     height: 300px !important;
//     width: auto !important;
//   }
// }

.slider-img {
  height: 100%;
  width: 100%;
}


/********** Icons **********/

.contact-icon {
  display: inline-block;
  margin: 10px;
}

.single-icon {
  color: #333;
  font-size: 20px !important;
}

/********** End Icons **********/


/********** Blog **********/

.blog-slider-images {
  white-space:nowrap;
  overflow-x:auto;
}

.blog-index-img {
  height: 300px;
  width: auto;
}

.blog-show-img {
  height: 400px;
  width: auto;
}

.blog-text {
  margin: 20px 0;
}

/********** End Blog **********/