.lowercase {
  text-transform: lowercase !important;
}

.e-bg-section05::before {
  background: image-url("section_pics/roman_forum.JPG") no-repeat center center;
}

// .flexslider {
//   .slides {
//     height: 300px !important;
//     width: auto !important;
//   }
// }

.slider-img {
  height: 100%;
  width: 100%;
}

.ptb-20 {
  padding: 20px 0 !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.contact-icon {
  display: inline-block;
  margin: 10px;
}

.single-icon {
  color: #333;
  font-size: 20px !important;
}