/********** Formatting **********/ 

.lowercase {
  text-transform: lowercase !important;
}

.ptb-20 {
  padding: 20px 0 !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

/********** End Formatting **********/ 

/********** Background Images **********/ 

.e-bg-section05::before {
  background: image-url("section_pics/roman_forum.JPG") no-repeat center center;
}

/********** End Background Images **********/ 

.slider-img {
  height: 100%;
  width: 100%;
}


/********** Icons **********/

.contact-icon {
  display: inline-block;
  margin: 10px;
}

.single-icon {
  color: #333;
  font-size: 20px !important;
}

/********** End Icons **********/


/********** Blog **********/

.slider-images {
  white-space:nowrap;
  overflow-x:auto;
}

.blog-index-img {
  height: 300px;
  width: auto;
}

.blog-show-img {
  height: 400px;
  width: auto;
}

.blog-text {
  margin: 20px 0;
}

/********** End Blog **********/

.chosen-container input[type="text"] {
  width: 100% !important;
  border-radius: 0 !important;
  font: 12px/1.6 "Oxygen", sans-serif, Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  margin-bottom: 15px !important ;

}

.chosen-choices {
    // padding: 6px 10px !important;
    border: 1px solid #666 !important;
    background: #fff !important;
}

.e-block-centered {
  .tech-select {
    text-align: left !important;
  }
}

.btn-gr {
  font: 12px/1.7 "Oxygen", sans-serif !important;
  width: auto;
}

.btn-gr:hover {
  color: #333 !important;
}

/********** Projects **********/

.project-show-img {
  height: 200px;
  width: auto;
}

/********** End Projects **********/