// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resume-skills {
  min-height: 760px;
}

#portfolio-page {
  .count-container .count-icon i::before {
    font-size: 30px;
  }

  .portfolio-pics {
    max-height: 200px;
  }
}