// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resume-skills {
  min-height: 778px;
}

#portfolio-page {
  .count-container .count-icon i::before {
    font-size: 30px;
  }

  .portfolio-pics {
    max-height: 200px;
  }
}

#interests-page {
  .interest-pic {
    width: 300px;
    // width:50%;
    // height:50%;
    border: 4px solid #fff;
    margin: 5px;
    // -webkit-transition: all .4s ease-in-out;
    // -moz-transition: all .4s ease-in-out;
    // -o-transition: all .4s ease-in-out;
    // -ms-transition: all .4s ease-in-out;
  }

  .language-pic {
    margin: auto;
  }

  .sport-pic {
    margin: auto;
    max-width: 250px;
    max-height: 120px;
  }
}