// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-show {
  .project-title-info {
    padding: 50px 50px 10px 50px;
  }

  .project-post {
    padding-top: 5px;

    .screencap-heading {
      color: #e74c3c;
      text-transform: uppercase;
    }

    .project-description {
      margin-top: 10px;
    }
  }

  .post-tag {
    color: #e74c3c;
  }

  .carousel-inner {
    .indiv-images {
      max-height: 600px;
    }
  }
}