// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-show {
  .project-title-info {
    padding: 50px 50px 10px 50px;
  }

  .project-post {
    padding-top: 5px;

    .screencap-heading {
      color: #e74c3c;
      text-transform: uppercase;
    }

    .project-description {
      margin-top: 10px;
    }
  }

  .post-tag {
    color: #e74c3c;
  }

  .carousel-inner {
    .indiv-images {
      max-height: 600px;
    }
  }

  .project-links {
    margin: auto;
  }

  .link-wrapper {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: solid 2px #2f2f2f;
    border-radius: 20%;
    margin: 0px 5px;
  }

  i.link-icon {
    font-size: 30px;
    padding: 7px 0px 0px 1px;
  }
  
  .list-inline.social{
    margin-top: 15px;
  }
}